bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/*.user
*.csproj.user
launchSettings.json
doc/

*.plk
*.bat
.idea/
IgnoreCache/

site/

SptItemCreator.sln.DotSettings.user

*.log
.vscode/
__pycache__/
PropertyAnalysis/config.yaml