site_name: SIC Wiki
  
site_author: Suntion
copyright: MIT
site_dir: site/SptItemCreatorWiki

plugins:
  - search:
      separator: '[\s\u200b\-]'
  - open-in-new-tab:
      add_icon: true

theme:
  name: material
  custom_dir: custom_theme/
  user_color_mode_toggle: true
  language: zh # material 页面语言
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: 暗色模式
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: 亮色模式

extra:
  alternate:
    - name: 中文
      link: /zh/
      lang: zh
    - name: English
      link: /en/
      lang: en
  sitemap:
    filename: sitemap.xml

use_directory_urls: false
